<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flask First Try</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.home')}}">Home</a> </li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}
    {% endblock %}
  </header>

  {% block content %}
  {% endblock %}
</section>